@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: 'Poppins', sans-serif;
} 

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: red;
}

#calculator {
  width: 300px;
  height: 480px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: white;
}


/* SCREEN DISPLAY STYLING */
#screen-container {
  background-color: white;
  border: #ddd 2px solid;
  margin-bottom: 10px;
  padding-right: 5px;
}

.screen-last {
  height: 30px;
  font-size: 20px;
}

.screen-current {
  height: 70px;
  font-size: 30px;
}

.number-position {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}


/* BUTTONS STYLING */
#buttons-container {
  height: 320px;
  width: 260px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.row {
  width: 260px; 
  display: flex;
  justify-content: space-around;
}

.btn  {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: scale(1);
}

.number {
  background-color: hsl(198, 71%, 69%);
  
}

.operator {
  background-color: hsl(156, 46%, 53%);
}

#clear {
  background-color: hsl(342, 57%, 70%);
}

#delete {
  background-color: hsl(281, 18%, 48%);
}

#equal {
  background-color: yellow;
  width: 120px;
  border-radius: 50px;
}




