@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: repeating-linear-gradient(to left, hsl(16, 49%, 79%), hsl(37, 100%, 82%), hsl(340, 100%, 75%), hsl(282, 100%, 83%), hsl(241, 60%, 70%));
  background-size: 300% 300%;
  animation: aesthetic 70s ease infinite; 
} 

@keyframes aesthetic { 
  0%{
    background-position: 0% 50%
  }
  50%{
    background-position: 100% 25%
  }
  100%{
    background-position:0% 50%
  }
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calculator {
  width: 300px;
  height: 480px;
  border-radius: 10px;
  padding: 10px 20px;
  background-color: white;
  box-shadow: inset 6px 6px 13px #fff, 
              inset 6px 6px 13px rgba(0, 0, 0, .16),
              6px 6px 13px rgba(0, 0, 0, .16),
              6px 6px 13px rgba(0, 0, 0, .16);
}


/* SCREEN DISPLAY STYLING */
#screen-container {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-right: 15px;
  box-shadow: inset -6px -6px 13px #fff, 
              inset 6px 6px 13px rgba(0, 0, 0, .16);
  border: none;
  border-radius: 20px;
  color: rgb(26, 25, 25);
  background-color: #ecf0f3;
}

.screen-last {
  height: 40px;
  font-size: 20px;
}

.screen-current {
  height: 55px;
  font-size: 30px;
}

.number-position {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}


/* BUTTONS STYLING */
#buttons-container {
  height: 320px;
  width: 260px;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.row {
  width: 260px; 
  display: flex;
  justify-content: space-around;
}

button {
  box-shadow: inset 1px 1px 5px #fff, 
  2px 2px 3px rgba(0, 0, 0, .15);
  background-color: #ecf0f3;
  border: none;
  font-weight: bold;
}

.btn  {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: scale(1);
}

/* NUMBER BUTTON STYLINGS*/
.number {
  background-color: hsl(198, 71%, 69%);
}

.number:hover {
  background-color: hsl(198, 71%, 77%);
}

.number:active {
  color: hsl(198, 71%, 90%);
  background-color: hsl(198, 71%, 50%);
}

/* OPERATOR BUTTON STYLINGS*/
.operator {
  background-color: hsl(156, 46%, 53%);
}

.operator:hover {
  background-color: hsl(156, 46%, 61%);
}

.operator:active {
  color: hsl(156, 46%, 90%);
  background-color: hsl(156, 46%, 34%);
}

/* CLEAR BUTTON STYLINGS*/
#clear {
  background-color: hsl(342, 57%, 70%);
}

#clear:hover {
  background-color: hsl(342, 57%, 78%);
}

#clear:active {
  color: hsl(342, 57%, 90%);;
  background-color: hsl(342, 57%, 51%);
}

/* DELETE BUTTON STYLINGS*/
#delete {
  background-color: hsl(281, 18%, 48%);
}

#delete:hover {
  background-color: hsl(281, 18%, 56%);
}

#delete:active {
  color: hsl(281, 18%, 90%);
  background-color: hsl(281, 18%, 29%);
}

/* DECIMAL POINT BUTTON STYLINGS*/
#decimal-point {
  background-color: hsl(35, 100%, 64%);
}

#decimal-point:hover {
  background-color: hsl(35, 100%, 72%);
}

#decimal-point:active {
  color: hsl(35, 100%, 90%);
  background-color: hsl(35, 100%, 45%);
}


/* EQUAL BUTTON STYLINGS*/
#equal {
  background-color: hsl(35, 100%, 64%);
  width: 120px;
  border-radius: 50px;
}

#equal:hover {
  background-color: hsl(35, 100%, 72%);
}

#equal:active {
  color: hsl(35, 100%, 90%);
  background-color: hsl(35, 100%, 45%);
}


/* FOOTER STYLING */

#footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  background-color:hsla(0, 0%, 0%, 80%);
}

.footer-logo-container {
  width: 200px;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.fa-brands {
  font-size: 30px;
  transition: transform 1s ease;
}

.fa-brands:hover {
  transform: rotate(720deg);
}

.fa-brands:active {
  transform: scale(1);
}


.fa-github {
  color: hsl(102, 53%, 52%);
}

.fa-github:hover {
  color: hsl(102, 53%, 70%);
}

.fa-github:active {
  color: hsl(102, 53%, 33%);
}

.fa-linkedin {
  color: hsl(201, 100%, 35%);
}

.fa-linkedin:hover {
  color: hsl(201, 100%, 52%);
}

.fa-linkedin:active {
  color: hsl(201, 100%, 15%);
}

#footer-text {
  color: white;
  font-size: 20px;
}

.fa-heart {
  color: crimson;
}
